---
import { Image } from 'astro:assets'

import { Button, Collapse, Icon } from 'astro-pure/user'
import PageLayout from '@/layouts/CommonPage.astro'
import ProjectSection from '@/components/projects/ProjectSection.astro'

const headings = [
  { depth: 2, slug: 'programs', text: 'Programs' },
  { depth: 2, slug: 'activities', text: 'Activities' }
]
---

<PageLayout title='Projects' {headings} view>
  <p>Github Activities:</p>
  <p>
    <Image
      src='https://ghchart.rshah.org/659eb9/satopikac'
      alt='github activities'
      inferSize
      loading='lazy'
    />
  </p>

  <h2 id='programs'>Programs</h2>
  <ProjectSection
    projects={[
      {
        name: 'satopikac',
        description: 'My GitHub Profile',
        links: [
          { type: 'github', href: 'https://github.com/satopikac' }
        ]
      }
    ]}
  />

  <h2 id='activities'>Activities</h2>
  <p>Visit my <a href='https://github.com/satopikac' target='_blank'>GitHub profile</a> to see all my projects and contributions.</p>
</PageLayout>
